.sign-up{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

.sign-up-container{
    height: 100vh;
    position: relative;
    justify-content:center;
    padding-left: 18vw;
    padding-top: 100px;
}
.sign-up-text{
    padding-bottom: 30px;
}
.sign-up-text h1{
    font-family: 'Outfit';
    font-weight: 100;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: 0.03em;
    text-transform: capitalize;

    color: #191919;
}
.sign-up-text p{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #808080;
}
.sign-up-button-container{
    padding-top: 25px;
}
.sign-up-with-google-button-container button{
    color: #808080;
    background: #FFFFFF;
    border: 1px solid #E9F3ED;
    box-shadow: 0px 2px 8px 4px rgba(233, 243, 237, 0.4);
    border-radius: 2px;
}


.sign-in-have-account {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #808080;
    padding-top: 10px;
    padding-left: 150px;
    padding-bottom: 180px;
}

.sign-in-have-account a {
    color: #E88F4E;
    text-decoration: none;
}
.sign-up-logo-container {
    background: #E9F3ED;
    position: absolute;
    width: 30%;
    right: 0;
}
.sign-up-submission-error {
    color: #800000;
    padding-left: 3px;
    margin: 0;
}

@media only screen and (max-device-width: 1024px) {
    .sign-up-logo-container{
        width: 0%;
    }
}