
.navbar{
    background-color: #fff;
    height: 100%;
    box-shadow: 0px 3px 26px rgba(133, 152, 145, 0.3);}
.navbar-title{
    margin: auto;
}
.nav-link{
    position: relative;
    color: #808080;
    margin-left: 50px;
    font-family: 'Outfit';
    font-size: 18px;
    padding: 0 10px;
}
.nav-link:hover{
    color: #333333;
}
.nav-link:after{
    content: "";
    position: absolute;
    background-color: #E88F4E;
    height: 3px;
    width: 0%;
    right: 0;
    bottom: -1px;
    transition: 0.3s;
    color: pink;
}
.nav-link:hover:after{
    width: 20px;
}
#collapsible-nav-dropdown.dropdown-toggle.nav-link::after{
    border: none;
}
.navbar-brand{
    color: #E88F4E;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 36px;
}
.dropdown-menu{
    padding: 0;
    box-shadow: 0px 4px 10px 1px rgba(128, 128, 128, 0.45);
    border: 0;
    border-radius: 0;
    width: 235px;
    margin-left: 55px;
}
.dropdown-menu a{
    font-family: 'Lexend';

    font-size: 16px;
    background-color: #FFFFFF;
    border: none;
    color: #808080;
}
.dropdown-item:hover{
    background-color: #808080;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.navbar span:nth-child(2){
    padding: 1px 8px;
    background-color: red;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    position: relative;
    top: -20px;
}


