.copyright{
    position: relative;
    background-color: #FFFFFF;
    height: 30px;
    text-align: center;
   padding: 4px 0;
}
.copyright p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #191919;
}